footer.footer
    div.container.footer__row 
        div.footer__blocks
            div.footer__img
                a.footer__logo(href="#") 
                    img.footer__logo-img(src="./assets/imgs/img15.svg", alt="картинка")
                div.footer__text Be better, be cooler, be a Mad Hatter and sustainably matter.
            div.footer__links
                mixin links(title, a1, a2, a3, a4, a5)
                    div.footer__block
                        div.footer__title=title
                        ul.footer__ul 
                            li.footer__li 
                                a.footer__a(href="#")=a1 
                            li.footer__li 
                                a.footer__a(href="#")=a2 
                            li.footer__li 
                                a.footer__a(href="#")=a3 
                            li.footer__li 
                                a.footer__a(href="#")=a4 
                            li.footer__li 
                                a.footer__a(href="#")=a5 
                +links('Shop here','For Men','For Women','For Kids','For Anyone','For No-one')
                +links('The legals','Copyright','Privacy','Contact','Terms','')
        div.footer__description Copyright 2012 Mad Hatters, Inc. Terms & Privacy